<ion-header-bar class="bar-calm">
    <div class="buttons">
<!--
        <ion-nav-back-button class="button button-clear" ui-sref="coupons">
            Back
        </ion-nav-back-button>
-->
        <button class="button button-clear" ui-sref="coupons">Back</button>
        
    </div>
    <h1 class="title" ng-model="coupon">{{coupon.title}}</h1>
</ion-header-bar>

<ion-content>
    <div>
        <ion-list>
            <li class="item item-input item-stacked-label" ng-model="coupon">
                {{coupon.content}}
            </li>
        </ion-list>
    </div>
</ion-content>